// Global default params, used in configs
params {

  // Choose between "symlink" - absolute path, "rellink" -relative path, "link " -hard link, "copy"
  publish_dir_mode = "copy"

  // Workflow flags
  gene_expression_matrix = "./tests/salmon.merged.gene_counts.tsv"
  samplesheet = "./tests/samplesheet.csv"
  resDir= "./results"
  prefix = "test"

}

process {

  cpus = 1

  // Per-process configuration
  withName: Reformat_data {
        container = "./envs/R-modules.sif"
        cpus = 1
        publishDir = [path: params.resDir + '/Reformat_data', mode: params.publish_dir_mode]
  }
}


conda {
    useMamba = true
}

singularity {
    //container = "./envs/R-modules.sif"
    enabled = true
    runOptions = "--no-home"
    autoMounts = true
}