// Global default params, used in configs
params {

  // Choose between "symlink" - absolute path, "rellink" -relative path, "link " -hard link, "copy"
  publish_dir_mode = "copy"

  // Workflow flags
  samplesheet = "./tests/samplesheet.csv"
  gene_expression_matrix = "./tests/gene_expression_matrix.tsv"
  prefix = "test"
  resDir= "./results"

}

process {

  cpus = 1

  // Per-process configuration
  withName: Reformat_data {
        container = "./envs/R-modules.sif" // Run this process in specific singularity container, can also be specified in respective module
        publishDir = [path: params.resDir + '/Reformat_data', mode: params.publish_dir_mode]
  }
}


conda {
    useMamba = true
}

singularity {
    //container = "./envs/R-modules.sif" // Run all above processes in same singularity container
    enabled = true
    runOptions = "--no-home" // Prevents using packages stored in local home dir 
    autoMounts = true
}

process {
    executor = 'sge'
    penv = 'smp'
    clusterOptions = { '-V -S /bin/bash -q all.q' }
  }

executor {
  $sge {
    queueSize = 600
  }
}